<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307548286963-0b34bgom83nfv2562r2dvc74avibbeb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307548286963-0b34bgom83nfv2562r2dvc74avibbeb8</string>
	<key>API_KEY</key>
	<string>AIzaSyCx_s_IZNTOb0Tkvn2huIRgRp9i7rwaCuk</string>
	<key>GCM_SENDER_ID</key>
	<string>307548286963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wolfoo.study.learning.abcalphabet.color.shape.preschool</string>
	<key>PROJECT_ID</key>
	<string>wolfoo-school-4a995</string>
	<key>STORAGE_BUCKET</key>
	<string>wolfoo-school-4a995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307548286963:ios:7aaac62c6796173544ac86</string>
</dict>
</plist>